# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# Firebase cache
.firebase/

# Firebase config
.runtimeconfig.json

.firebase-debug.log
